<nav class="sidenav">
    <mat-nav-list>
        <div class="logo py-4">
            <img src="./assets/web2.png" alt="Tutorat Mali"
            height="190px" />
        </div>
        <mat-divider></mat-divider>
        <h2 matSubheader class="mt">APPLICATION TUTORAT</h2>

        <a mat-list-item routerLinkActive="list-item-active" routerLink="accueil">
            <mat-icon color="warning">home</mat-icon> <span>Accueil</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="tuteur">
            <mat-icon color="warning">person</mat-icon> <span>Tuteur</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="ecole">
            <mat-icon color="warning">school</mat-icon> <span> Ecoles</span>
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="utilisateur">
            <mat-icon color="warning">people</mat-icon> <span>Parent & Elève</span> </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="corbeille">
            <mat-icon color="warning">delete</mat-icon> <span>Corbeille</span> </a>
    </mat-nav-list>
</nav>