<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="90px">
    <h2>Corbeille</h2>
    <div fxFlex="100" class="cool">
        <div class="mat-elevation-z8">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Numéro</th>
                        <th scope="col">Profil</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let app of list">
                        <td>{{app.id }}</td>
                        <td> {{app.nom}} </td>
                        <td> {{app.numero}} </td>
                        <td> {{app.profile}} </td>
                        <td style="color: red;"> {{app.etat}} </td>
                        <td>

                            <button>
              <mat-icon class="edit" (click)="recuperation(app.id)" >history</mat-icon>
          </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20]"></mat-paginator>
        </div>

    </div>
</div>