.stats-cards {
    .mat-card {
        overflow: hidden;
    }
}

table {
    width: 100%;
}

td {
    padding: 5px;
    justify-content: center;
    text-align: center;
}

button {
    border: none;
    background: #fff;
    .info {
        color: blue;
    }
    .del {
        color: red;
    }
    .edit {
        color: green;
    }
}