<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Page mot de pass oublié</title>
</head>

<body>
    <marquee behavior="" direction="left">
        <h2>BIENVENUE SUR LA PAGE DE TUTORAT </h2>
    </marquee>
    <div class="center">
        <h1>Ajouter Région</h1>
        <form #add="ngForm" (ngSubmit)="ajouter(add)" novalidate>
            <div class="txt_field">
                <input type="text" name="nom" ngModel required>
                <span></span>
                <label>Nouveau région</label>
            </div>
            <div class="txt_field">
                <input type="text" name="confirmer" [(ngModel)]="confirmer" required>
                <span></span>
                <label>Confirmer</label>
            </div>
            <!-- <div class="pass">Forgot Password?</div> -->
            <input type="submit" value="Valider">
            <div class="signup_link">
                <!-- Not a member? <a href="#">Signup</a> -->
            </div>
        </form>
    </div>

</body>

</html>